<div class="posts">
  {{#each posts}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/post/{{id}}">{{name}}</a>
      </h2>
      <div>
        Patient modified by Dr. {{Doctor.last_name}} on {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{treatment_plan}}
    </div>
  </article>
  {{/each}}
</div>